USE [master]
GO
/****** Object:  Database [IPFEu]    Script Date: 02/28/2014 19:05:00 ******/
CREATE DATABASE [IPFEu] ON  PRIMARY 
( NAME = N'IPF', FILENAME = N'C:\IPFEu\IPF.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IPF_log', FILENAME = N'C:\IPFEu\IPF_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPFEu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPFEu]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 02/28/2014 19:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](50) NULL,
	[RecordLength] [int] NULL,
	[Split1] [int] NULL,
	[Split2] [int] NULL,
	[Split3] [int] NULL,
	[Split4] [int] NULL,
	[TimeStamp] [smalldatetime] NULL,
	[LaserFile] [nvarchar](max) NULL,
	[CodesDB] [nvarchar](50) NULL,
	[DataMatrix] [int] NULL,
	[Layers] [int] NULL,
	[IsAbsolute] [bit] NULL,
	[CycleElements] [int] NULL,
	[LayerUseCodes1] [bit] NULL,
	[LayerUseCodes2] [bit] NULL,
	[LayerUseCodes3] [bit] NULL,
	[LayerUseCodes4] [bit] NULL,
	[LayerUseCodes5] [bit] NULL,
	[LayerUseCodes6] [bit] NULL,
	[LayerUseCodes7] [bit] NULL,
	[LayerUseCodes8] [bit] NULL,
	[LayerUseCodes9] [bit] NULL,
	[LayerUseCodes10] [bit] NULL,
	[LayerUseCodes11] [bit] NULL,
	[LayerUseCodes12] [bit] NULL,
	[LayerUseCodes13] [bit] NULL,
	[LayerUseCodes14] [bit] NULL,
	[LayerUseCodes15] [bit] NULL,
	[LayerUseCodes16] [bit] NULL,
	[LayerUseCodes17] [bit] NULL,
	[LayerUseCodes18] [bit] NULL,
	[LayerUseCodes19] [bit] NULL,
	[LayerUseCodes20] [bit] NULL,
	[LayerUseCodes21] [bit] NULL,
	[LayerUseCodes22] [bit] NULL,
	[LayerUseCodes23] [bit] NULL,
	[LayerUseCodes24] [bit] NULL,
	[LayerUseCodes25] [bit] NULL,
	[LayerQty1] [int] NULL,
	[LayerQty2] [int] NULL,
	[LayerQty3] [int] NULL,
	[LayerQty4] [int] NULL,
	[LayerQty5] [int] NULL,
	[LayerQty6] [int] NULL,
	[LayerQty7] [int] NULL,
	[LayerQty8] [int] NULL,
	[LayerQty9] [int] NULL,
	[LayerQty10] [int] NULL,
	[LayerQty11] [int] NULL,
	[LayerQty12] [int] NULL,
	[LayerQty13] [int] NULL,
	[LayerQty14] [int] NULL,
	[LayerQty15] [int] NULL,
	[LayerQty16] [int] NULL,
	[LayerQty17] [int] NULL,
	[LayerQty18] [int] NULL,
	[LayerQty19] [int] NULL,
	[LayerQty20] [int] NULL,
	[LayerQty21] [int] NULL,
	[LayerQty22] [int] NULL,
	[LayerQty23] [int] NULL,
	[LayerQty24] [int] NULL,
	[LayerQty25] [int] NULL,
	[LayerName1] [nvarchar](20) NULL,
	[LayerName2] [nvarchar](20) NULL,
	[LayerName3] [nvarchar](20) NULL,
	[LayerName4] [nvarchar](20) NULL,
	[LayerName5] [nvarchar](20) NULL,
	[LayerName6] [nvarchar](20) NULL,
	[LayerName7] [nvarchar](20) NULL,
	[LayerName8] [nvarchar](20) NULL,
	[LayerName9] [nvarchar](20) NULL,
	[LayerName10] [nvarchar](20) NULL,
	[LayerName11] [nvarchar](20) NULL,
	[LayerName12] [nvarchar](20) NULL,
	[LayerName13] [nvarchar](20) NULL,
	[LayerName14] [nvarchar](20) NULL,
	[LayerName15] [nvarchar](20) NULL,
	[LayerName16] [nvarchar](20) NULL,
	[LayerName17] [nvarchar](20) NULL,
	[LayerName18] [nvarchar](20) NULL,
	[LayerName19] [nvarchar](20) NULL,
	[LayerName20] [nvarchar](20) NULL,
	[LayerName21] [nvarchar](20) NULL,
	[LayerName22] [nvarchar](20) NULL,
	[LayerName23] [nvarchar](20) NULL,
	[LayerName24] [nvarchar](20) NULL,
	[LayerName25] [nvarchar](20) NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historico]    Script Date: 02/28/2014 19:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico](
	[IdApunte] [int] IDENTITY(1,1) NOT NULL,
	[Pedido] [nvarchar](11) NULL,
	[Fichero] [nvarchar](50) NULL,
	[Desde] [int] NULL,
	[Hasta] [int] NULL,
	[Artwork] [nvarchar](10) NULL,
	[Volumen] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
	[Sesion] [int] NULL,
	[Layers] [int] NULL,
	[LayerQty1] [int] NULL,
	[LayerQty2] [int] NULL,
	[LayerQty3] [int] NULL,
	[LayerQty4] [int] NULL,
	[LayerQty5] [int] NULL,
	[LayerQty6] [int] NULL,
	[LayerQty7] [int] NULL,
	[LayerQty8] [int] NULL,
	[LayerQty9] [int] NULL,
	[LayerQty10] [int] NULL,
	[LayerQty11] [int] NULL,
	[LayerQty12] [int] NULL,
	[LayerQty13] [int] NULL,
	[LayerQty14] [int] NULL,
	[LayerQty15] [int] NULL,
	[LayerQty16] [int] NULL,
	[LayerQty17] [int] NULL,
	[LayerQty18] [int] NULL,
	[LayerQty19] [int] NULL,
	[LayerQty20] [int] NULL,
	[LayerQty21] [int] NULL,
	[LayerQty22] [int] NULL,
	[LayerQty23] [int] NULL,
	[LayerQty24] [int] NULL,
	[LayerQty25] [int] NULL,
 CONSTRAINT [PK_Historico] PRIMARY KEY CLUSTERED 
(
	[IdApunte] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodesIndex]    Script Date: 02/28/2014 19:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodesIndex](
	[IdEntry] [int] IDENTITY(1,1) NOT NULL,
	[IdJob] [int] NULL,
	[FromRecord] [int] NULL,
	[ToRecord] [int] NULL,
	[FileName] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[TotalCodes] [int] NULL,
	[Consumed] [int] NULL,
 CONSTRAINT [PK_CodesIndex] PRIMARY KEY CLUSTERED 
(
	[IdEntry] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artworks]    Script Date: 02/28/2014 19:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artworks](
	[IdJob] [int] NOT NULL,
	[Artwork] [int] NOT NULL,
 CONSTRAINT [PK_Artworks] PRIMARY KEY CLUSTERED 
(
	[IdJob] ASC,
	[Artwork] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_Historico_Timestamp_1]    Script Date: 02/28/2014 19:05:01 ******/
ALTER TABLE [dbo].[Historico] ADD  CONSTRAINT [DF_Historico_Timestamp_1]  DEFAULT (getdate()) FOR [Timestamp]
GO
