USE [master]
GO
/****** Object:  Database [IPFAdmin]    Script Date: 01/11/2014 11:11:27 ******/
CREATE DATABASE [IPFAdmin] ON  PRIMARY 
( NAME = N'IPFAdmin', FILENAME = N'C:\IPFEu\IPFAdmin.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IPFAdmin_log', FILENAME = N'C:\IPFEu\IPFAdmin_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPFAdmin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPFAdmin]
GO
/****** Object:  Table [dbo].[Historico]    Script Date: 01/11/2014 11:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico](
	[IdApunte] [int] IDENTITY(1,1) NOT NULL,
	[Pedido] [nvarchar](11) NULL,
	[Fichero] [nvarchar](50) NULL,
	[Desde] [int] NULL,
	[Hasta] [int] NULL,
	[Artwork] [nvarchar](10) NULL,
	[Volumen] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
	[Sesion] [int] NULL,
	[Layers] [int] NULL,
	[LayerQty1] [int] NULL,
	[LayerQty2] [int] NULL,
	[LayerQty3] [int] NULL,
	[LayerQty4] [int] NULL,
	[LayerQty5] [int] NULL,
	[LayerQty6] [int] NULL,
	[LayerQty7] [int] NULL,
	[LayerQty8] [int] NULL,
	[LayerQty9] [int] NULL,
	[LayerQty10] [int] NULL,
	[LayerQty11] [int] NULL,
	[LayerQty12] [int] NULL,
	[LayerQty13] [int] NULL,
	[LayerQty14] [int] NULL,
	[LayerQty15] [int] NULL,
	[LayerQty16] [int] NULL,
	[LayerQty17] [int] NULL,
	[LayerQty18] [int] NULL,
	[LayerQty19] [int] NULL,
	[LayerQty20] [int] NULL,
	[LayerQty21] [int] NULL,
	[LayerQty22] [int] NULL,
	[LayerQty23] [int] NULL,
	[LayerQty24] [int] NULL,
	[LayerQty25] [int] NULL,
 CONSTRAINT [PK_Historico] PRIMARY KEY CLUSTERED 
(
	[IdApunte] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_Historico_Timestamp]    Script Date: 01/11/2014 11:11:28 ******/
ALTER TABLE [dbo].[Historico] ADD  CONSTRAINT [DF_Historico_Timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
