<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IPFUser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <IPFUser.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="Catalog" serializeAs="String">
                <value>IPFEu</value>
            </setting>
            <setting name="DataServer" serializeAs="String">
                <value>(local)\sqlexpress</value>
            </setting>
            <setting name="SqlUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWindowsAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaserIP" serializeAs="String">
                <value>192.168.0.180</value>
            </setting>
            <setting name="LaserBufferSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WaitTimeOnLaserQueueFull" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LowCodes" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VeryLowCodes" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ShowLowCodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVeryLowCodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="LicenseAppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseCrc" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseType" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>192.168.1.100</string>
                        <string>502</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Session" serializeAs="String">
                <value>0</value>
            </setting>
        </IPFUser.My.MySettings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
